name: Black

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: '3.7'
        architecture: 'x64'

    - name: Run a multi-line script
      run: |
        python -m pip install --upgrade pip
        pip install black==20.8b0
        black --check .
